@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

img {
    max-width: 100%;
    height: auto;
}

body {
    background-color: antiquewhite;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    font-family: 'Ubuntu', sans-serif;

}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul li {
    padding: 0 12px;
}

.brand img {
    width: 44px;
    padding: 0 8px;

}

.brand {
    display: flex;
    align-items: center;
    font: weight 1.3rem;
    ;
}

.container {
    min-height: 72vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    width: 70%;
    margin: 23px auto;
    border-radius: 12px;
    padding: 34px;
    background-image: url('bg9.jpg');
    background-size: 900px 350px;

}

.bottom {

    position: sticky;
    height: 130px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}

.icons {
    margin-top: 14px;

}

.icons i {
    cursor: pointer;
}

#myProgressBar {
    width: 80vw;

    text-align: center;
    cursor: pointer;
}

.songItemcontainer {
    margin-top: 40px;
}

.songItem {
    height: 30px;
    display: flex;
    background-color: white;
    width: 48%;
    color: black;
    margin: 12px 0;
    justify-items: center;
    align-items: center;
    border-radius: 34px;

}

.songItem img {

    width: 20px;
    margin: 0 15px;
    border-radius: 34px;

}

.timestamp {
    margin: 0 23px;

}

.songInfo {
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
}

.songInfo img {
    opacity: opacity is ease-in;
    transition: opacity 0.5s is ease-in;
}


@media (max-width: 768px) {
    body {
        font-size: 14px;

    }

    .container {
        width: 90%;

        padding: 20px;

    }

    .songItemcontainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .songItem {
        width: 80%;

    }
}


@media (max-width: 480px) {
    body {
        font-size: 12px;

    }

    .container {
        padding: 10px;

        background-size: 600px 250px;

    }
}